:root {
  --mist: #ECEBE9;
  --peony: #E9CACD;
  --mauve: #D19097;
  --sage: #7E916D;
  --evergreen: #324A3C;

  --text: #4c433e;
  --heading: #23211d;

  --shadow: rgba(0, 0, 0, 0.08) 0 10px 20px -10px;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--mist);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--heading);
}

p,
span,
label {
  color: var(--text);
}